.resend {
  text-align: center;
  color: var(--very-light-pink);
  margin: 2rem 0;
}
.container-email-image {
  background-color: var(--text-input-field);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 30px auto;
}
