:root {
  --black: #000;
  --white: #fff;
  --hospital-green: #acd9b2;
  --hospital-green-dark: #61b36c;
  --very-light-pink: #554646;
  --text-input-field: #e2e2e2;
  --dark: #232830;
  --gray: #797979;
  --font-md: 1.25rem;
  --font-sm: 1rem;
  --font-bg: 1.5rem;
  --width-mobile: 375px;
  --width-bg: 990px;
  --red-warning: #d25050;
}

body {
  font-family: "Quicksand";
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
.container-content {
  margin: 0 auto;
  width: var(--width-mobile);
  padding: 2rem 0;
  height: 100vh;
}

@media (min-width: 768px) {
  .container-content {
    width: 80%;
    max-width: var(--width-bg);
    padding: 2rem 0;
    max-height: 100vh;
  }
}
.container-signup,
.container-login,
.container-password-recovery,
.account-container,
.order-container,
.my-orders-container {
  max-width: 375px;
  margin: 2rem auto;
  height: 100vh;
}

@media (min-width: 1280px) {
  .container-signup,
  .container-login,
  .container-password-recovery,
  .account-container,
  .order-container,
  .my-orders-container {
    max-width: 768px;
  }
}
.main-title {
  margin: 1rem 0;
  font-size: var(--font-bg);
  text-align: center;
}
.subtitle {
  color: var(--very-light-pink);
  text-align: center;
}
.input-field {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.sign-up-form label,
.recovery-form label,
.create-account-form label {
  margin-bottom: 0.5rem;
  font-size: var(--font-sm);
  font-weight: 700;
}

.form-link {
  color: var(--hospital-green);
  text-decoration: none;
}
.forgot-message,
.back-message,
.resend {
  margin: 1.875rem 0 1.875rem 0;
  text-align: center;
  font-size: var(--font-md);
  &:hover {
    text-decoration: underline;
  }
}
.resend span {
  margin-right: 0.5rem;
}
.forgot-link {
  font-size: var(--font-sm);
}
