.logo-container {
  flex-basis: 120px;
  flex-shrink: 0;
}
.logo-container img {
  margin-left: auto;
  margin-right: auto;
}
.logo-mobile {
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .logo-mobile {
    display: none;
  }
}