.orders-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.25rem;
}

.orders-item .date {
  font-weight: 700;
  margin: 0 0 .25rem 0;
  font-size: var(--font-bg);
}
.orders-item .count-articles {
  font-size: var(--font-md);
  color: var(--very-light-pink);
  margin: 0;
}
.orders-item div:nth-child(2) {
  display: flex;
  align-items: center;
}

.orders-item div:nth-child(2) > * {
  flex-grow: 0;
}
.orders-item div:nth-child(2) > p.product-price {
  font-family: "Roboto";
  font-weight: 700;
  margin-right: 1rem;
}
.orders-item div:nth-child(2) figure {
  display: flex;
  place-items: center;
  margin: 0;
  height: 30px;
  width: 30px;
}
