.resume {
  border-radius: .5rem;
  background-color: var(--text-input-field);
  padding: .75rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem auto;
}
.resume p {
  margin: 0;
}
.resume .date {
  font-weight: 700;
  margin-bottom: 0.25rem;
  font-size: var(--font-bg);
}

.resume .count-articles,
.product-item .product-name {
  font-size: var(--font-md);
  color: var(--very-light-pink);
}
.resume .final-price,
.product-item .product-price {
  font-weight: 700;
  font-family: "Roboto";
}

.product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.25rem;
  padding-right: 1rem;
}
.product-item figure {
  margin: 0;
}
.product-item img {
  border-radius: 1rem;
}
