.header-box {
  box-shadow: 0px 2px 4px rgb(0 0 0 / 20%);
}
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.desktop-nav {
  display: none;
}
.logo-container {
  order: 2;
}
.menu-cart {
  order: 3;
}
@media (min-width: 768px) {
  .logo-container {
    order: 1;
  }
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: block;
    order: 2;
  }
}
