:root {
  --black: #000;
  --white: #fff;
  --hospital-green: #acd9b2;
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --dark: #232830;
  --gray: #797979;
  --font-md: 1.125rem;
  --font-sm: 0.875rem;
  --font-bg: 1.25rem;
  --width-mobile: 375px;
  --red-warning: #d25050;
}

body {
  font-family: "Quicksand";
}
.container {
  margin: 0 auto;
  width: var(--width-mobile);
}

.main-title {
  margin: 1rem 0;
  font-size: var(--font-md);
  text-align: center;
}
.subtitle {
  color: var(--very-light-pink);
}
.input-field {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
}
