.detail-card {
  display: flex;
  flex-direction: column;
  background: white;
  z-index: 4;
}
.detail-card figure {
  margin: 0;
}
.detail-card div:nth-child(1) {
  margin-bottom: 1rem;
}
.detail-card div:nth-child(1) img {
  width: 100%;
  border-radius: 1.875rem;
}


.detail-card div:nth-child(2) p:nth-child(1) {
  margin-bottom: 1.5rem;
}

.detail-card div:nth-child(2) p:nth-child(1) span:nth-child(1) {
  margin-bottom: 8px;
}

.detail-card div:nth-child(2) {
  margin-bottom: 1.5rem;
}
.detail-card p {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: var(--font-sm);
}
.detail-card .detail-price {
  font-weight: bold;
  font-family: "Roboto";
}
.detail-card .detail-name,
.detail-card .detail-description {
  color: var(--gray);
}

.detail-card button {
  font-size: var(--font-sm);
  padding: 0;
}

.detail-card .detail-close {
  background-color: white;
  border-radius: 50%;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: grid;
  height: 50px;
  position: absolute;
  left: 20px;
  place-items: center;
  top: 20px;
  width: 50px;
  z-index: 5;
}

@media (min-width: 768px) {
  .detail-card {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
