.mobile-nav {
  order: 1;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
}
@media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}

.mobile-nav > div {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: scroll;
  width: 100%;
  background-color: var(--hospital-green);
  padding-left: 30px;
}
.mobile-nav > div header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-nav > div header img {
  margin-right: 8px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.mobile-nav > div header h2 {
  font-size: var(--font-md);
  margin: 2rem 0;
}
.mobile-nav > div footer button {
  color: var(--hospital-green);
  background-color: transparent;
  border: none;
  color: var(--gray);
  padding: 1rem 0;
}

.desktop-nav {
  display: none;
}

.desktop-nav > ul {
  display: flex;
}

.desktop-nav ul li a {
  background-color: transparent;
  border: none;
  color: var(--very-light-pink);
  cursor: pointer;
  font-family: "Quicksand";
  font-size: var(--font-sm);
  margin: 0 8px;
  border-radius: 12px;
  padding: 4px 12px;
}

.desktop-nav ul li a.active {
  color: var(--hospital-green);
  border: 1px solid var(--hospital-green);
}

@media (min-width: 768px) {
  .desktop-nav {
    display: block;
  }
}
.category-item-mobile {
  padding: 16px 0;
  font-weight: 700;
}
